.container {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 8px;
  padding: 12px;
  background-color: var(--info);
  color: white;
  font-size: 16px; 
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.login {
  justify-content: center;
}
.success{
  background-color: transparent;
  color: var(--info);
  font-weight: bold;
}
.active {
  background-color:  var(--info);
  font-weight: bold;
  color :#fff;
}

.error {
  background-color: transparent;
  color: var(--error);
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  justify-content: flex-start;
  gap: 8px;
  /* Removido height: 20px */
}

.error:hover {
  color: var(--error--hover);
}
